<h1>About</h1>
<h2>Pages#about</h2>
<p>Find me in app/views/pages/about.html.erb</p>

<p>I left that default code, the stuff above here, on purpose. I just didn't want to remove it.</p>
<p>I don't have much to say about myself. I really only want to complete the course at this point, 
and then hopefully use the skills I've learned to my my own <i>Rails</i> application from scratch. :P</p>
