<h1>Contact</h1>
<h2>Pages#contact</h2>

<p><%= number_to_phone "5555555555" %></p>

<p><%= number_to_currency "150" %></p>

<p><%= number_to_percentage "80.4" %></p>

<p><%= number_with_delimiter "150123145697" %></p>
