<div class="inner cover">
  <h1 class="cover-heading">Hello World!</h1>
  <p class="lead">There are many bugs to be fixed...</p>
  <p class="lead" style="font-weight:bolder">"Discontent is the first step in the progress of a man or a nation."</p>
  <p class="lead" style="font-size:0.95em;font-style:italic;">— The Wise Words of a Whistle Wok Fortune Cookie —</p>
  <p class="lead">
    <%= link_to "Learn More", about_path, class: "btn btn-lg btn-secondary" %>
  </p>
</div>